pillow==12.3.0
pdfix-sdk @ https://dl.pdfix.net/builds/pdfix-sdk/master/5592ad01f8f6ddb5478fc4eec66e4d44c17711f0/python/pdfix_sdk-10.0.0-py3-none-any.whl
# pdfix-sdk==10.0.0
pytesseract==0.3.10
requests==2.33.1
tqdm==4.66.4
types-requests==2.33.0.20260408
urllib3==2.7.0
